<div class="footer">
  <div class="container">
    <div class="navigation">
      <div class="navigation__wrapper">
        <div class="navigation__container">
          <div class="social-icons">
            <p>
              © 2019 Mass Impressions. Designed by Tran Mau Tri Tam for Mass
              Impressions. All rights reserved.
            </p>
          </div>
          <div class="navbar">
            <p>Terms of Service Privacy Policy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
