.hero {
  background-image: url('https://cdn.dribbble.com/users/3178178/screenshots/7013817/the_caravan_by_patryk_wojciechowicz_2x.png');
  background-size: cover;
  border-bottom: 1px solid #E3E3E3;

  &__content {
    grid-template-columns: 1fr 450px;
    margin-top: 140px;

    .button-grid {
      margin-top: 70px;

      .button {
        background-color: #ff3c38;
        color: #fff;
        padding: 30px 60px;
        text-transform: uppercase;
        font-family: "SF Pro Display";
        font-weight: bold;
        letter-spacing: 2.13px;
        font-size: 12px;
        border-radius: 8px;
      }
    }
  }

  &__body {
    h3 {
      font-size: 80px;
      line-height: 80px;
      width: 550px;
      font-family: "SF Pro Display";
      font-weight: bold;
      color: #fff;
      margin-top: 40px;
    }

    p {
      font-size: 14px;
      color: #fff;
      margin-top: 50px;
      width: 60%;
      line-height: 21px;
    }

    .rounded-button {
      border-radius: 50px;
      background-color: #1C2E3D;
      padding: 15px 30px;
      min-height: 48px;
      opacity: 80%;
      color: #fff;
      text-transform: uppercase;
      font-size: 11px;
    }
  }


  &__video-box {
    height: 250px;
    background-image: url('https://cdn.dribbble.com/users/3178178/screenshots/6414213/an_early_morning_at_the_lake_by_patryk_wojciechowicz_2x.jpg');
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 93%;
    margin-left: 30px;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    span {
      position: absolute;
      left: 45%;
      top: 40%;
    }
  }

  .input-box {
    height: 100px;
    width: 100%;
    border-top-left-radius: 5px;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.07);
    border: none;
    padding-left: 30px;

    &::placeholder {
      font-size: 16px;
      font-weight: 600;
    }
  }


  &__navigation {
    background-color: #73AFBA;
    color: #fff;
    text-transform: uppercase;
    font-family: "SF Pro Display";
    font-weight: 900;
    letter-spacing: 2.13px;
    font-size: 12px;
    height: 102px;
  }

  .search {
    position: absolute;
    right: 30px;
    top: 45px;
  }
}

.relative {
  position: relative;
}