<div class="hero">
  <app-navigation></app-navigation>
  <div class="grid-container container hero__content">
    <div class="hero__grid-item hero__body">
      <a href="#$" class="rounded-button primary">new book</a>
      <h3>Mother Earth Hosts Our Travels</h3>
      <p>There are not many cities that have experienced such social and political extremes in recent history as Amsterdam. In the 20th century alone, Amsterdam faced the atrocities of war for the first time in 400 years, became the radical center of 1960s social movements and witnessed a complete
      </p>
    </div>
    <div class="hero__grid-item"></div>
    <div class="hero__grid-item button-grid">
      <a href="#$" class="button">buy the book</a>
    </div>
    <div class="hero__grid-item"></div>
    <div class="hero__grid-item"></div>
    <div class="hero__grid-item">
      <div class="hero__video-box">
        <span>
          <img src="../../assets/images/play.svg" alt="play button"/>
        </span>
      </div>
    </div>
    <div class="hero__grid-item relative">
      <input type="text" placeholder="Search Stories" class="input-box" />
      <img class="search" src="../../assets/images/search.svg" alt="search" />
    </div>
    <div class="hero__grid-item">
      <div class="hero__navigation">CED</div>
    </div>
  </div>
</div>
