<div class="container">
  <div class="navigation">
    <div class="navigation__wrapper">
      <div class="navigation__container">
        <div class="social-icons">
          <div class="facebook-icon">
            <img src="../../assets/images/facebook.png" alt="facebook logo"/>
          </div>
          <div class="twitter-icon">
            <img src="../../assets/images/twitter.png" alt="twitter logo"/>
          </div>
        </div>
        <div class="logo">MITRAVEL</div>
        <div class="navbar">
          <img src="../../assets/images/line.svg" alt="navbar" />
        </div>
      </div>
    </div>
  </div>
</div>